site_name: ToyDL
repo_url: https://github.com/shenxiangzhuang/toydl
repo_name: shenxiangzhuang/toydl
edit_uri: ""
site_description: Deep Learning from Scratch
site_author: Xiangzhuang Shen
copyright: Copyright &copy; 2022 Xiangzhuang Shen

# Page tree
nav:
  - Home: index.md
  - Getting started:
      - Quick Start:
          - Installation: quickstart/install.md
          - MLP: quickstart/mlp.md
  - API References:
      - Operator: api/operator.md
      - Scalar: api/scalar.md
      - Module: api/module.md
      - Optim: api/optim.md
      - Dependency Graph: api/dep_graph.md

theme:
  name: material
#  custom_dir: 'docs/theme'
  icon:
    repo: fontawesome/brands/github
  language: en
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: deep purple
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: cyan
      accent: deep purple
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  features:
    # - announce.dismiss
    - content.code.annotate
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.indexes
    # - navigation.instant
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate

docs_dir: docs

extra_css:
  - css/extra.css

extra_javascript:
  - js/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/shenxiangzhuang/toydl
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/xiangzhuang-shen-a81825157/

markdown_extensions:
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      pygments_lang_class: true
      linenums_style: pymdownx.inline
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.snippets:
      url_download: true
      url_max_size: 33554432
  - pymdownx.tabbed
  - abbr
  - admonition
  - attr_list

watch:
  - ./toydl

plugins:
  - search
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          import:
          - https://docs.python.org/3/objects.inv
          - https://www.mkdocs.org/objects.inv
          options:
            docstring_style: sphinx
            docstring_options:
#              ignore_init_summary: true
            docstring_section_style: table
#            show_docstring_classes: true
#            show_docstring_attributes: true
            heading_level: 2
            merge_init_into_class: true
            separate_signature: true
            show_root_heading: false
            show_root_full_path: false
            show_signature_annotations: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            signature_crossrefs: true
            show_root_members_full_path: true
